.DS_Store
node_modules
/coverage
/lib/
*.log
/packages/*/*.js
/packages/*/*.flow
/packages/sharyn/*/*
/packages/babel-preset-sharyn/*.js
/packages/babel-preset-sharyn/*.flow
/packages/eslint-config-sharyn/*.js
/packages/eslint-config-sharyn/*.flow
